@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  color: #ececec;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
    background-color: #212121;
}


.user-message{
    background-color: #3a3a3a;
    color: #ececec;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    max-width: 50%;
    text-align: right;
    margin-left: auto;

}